# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
*.egg-info/
dist/
build/
.venv/
venv/
env/
*.egg

# Env
.env
*.env.local

# Node / Frontend
frontend/node_modules/
frontend/dist/
frontend/.vite/

# DB / logs
*.sqlite3
*.log

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.swp
